@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Unbounded:wght@300;600&display=swap');

body {
    margin: 0;
    display: flex;
    place-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
}